{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
     
<center>
        <img src="https://laplumedepoudlard.com/wp-content/uploads/2019/12/40325_livraria_lello_2-1024x574.jpg" alt="image de bibliothéque" width=75% height=15%></center>
</div>

{% endblock %}
